<div id="info_club_<%= club.id %>" class="sortable content-section">
  <% if can? :modify, club %>
    <span class="form-btn-edit">
      <%= link_to club, method: :delete, data: {confirm: t("clubs._club.confirm")},
        class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
      <%= link_to edit_club_path(club), class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </span>
  <% end %>
  <div>
    <div class="view-field">
      <h3 class="view-control"><strong><%= club.name %></strong></h3>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control"><%= t "clubs._club.pos" %><%= club.position %></div>
    </div>
  </div>
  <div>
    <div class="view-field">
      <p>
        <span class="view-control" data-control="from-date">
          <%= I18n.l club.start_time, format: :long_profile %>
        </span>
        -
        <span class="view-control" data-control="to-date" data-type="manual">
          <%= show_endtime club %>
        </span>
      </p>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control content-text"><%= club.content %></div>
    </div>
  </div>
</div>
