<div id= "show-user">
  <h2><%= @user.name %></h2>
  <div>
    <i class="glyphicon glyphicon-map-marker"></i>
    <cite title=""><%= @user.address %></cite>
  </div>
  <div>
    <i class="glyphicon glyphicon-envelope"></i><%= @user.email %>
  </div>
  <div>
    <i class="glyphicon glyphicon-gift"></i>
    <% if @user.birthday.present? %>
      <%= @user.birthday.strftime(t "date_format") %>
    <% else %>
      <%= t "users.birthday_nil" %>
    <% end %>
  </div>
  <div>
    <i class="glyphicon glyphicon-phone"></i><%= @user.phone %>
  </div>
  <div class="btn-group">
  <% if can? :update, @user %>
    <%= link_to edit_user_path(current_user), remote:true do %>
      <i class="fa fa-pencil-square-o fa-2x"></i>
    <% end %>
  <% end %>
  </div>
</div>
