<div class="container">
  <div class="col-md-10 body-profile">
    <div class="row user-info border-primary">
      <div class="col-xs-4 col-sm-3 center-block">
        <div class="form-wrapper relative no-edit-mode">
          <div class="user-pic ">
            <%= image_tag "avatar_2x.png", class: "img-responsive" %>
          </div>
        </div>
      </div>
      <div class="section-header hidden-section col-xs-8 col-sm-9">
        <%= render @user %>
      </div>
    </div>
    <div class="row">
      <%= render "achievements/list" %>
      <%= render "certificates/index" %>
      <%= render "clubs/index" %>
      <%= render "experiences/index" %>
    </div>
  </div>
</div>
