<div id="info_experience_<%= experience.id %>" class="sortable content-section">
  <% if can? :modify, experience %>
    <span class="form-btn-edit">
      <%= link_to experience, method: :delete, data: {confirm: t("experiences._experience.confirm")},
        class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
      <%= link_to edit_experience_path(experience), class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </span>
  <% end %>
  <div>
    <div class="view-field">
      <h3 class="view-control"><strong><%= experience.company %></strong></h3>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control"><%= t "experiences._experience.project_name" %><%= experience.name %></div>
    </div>
  </div>
  <div>
    <div class="view-field">
      <p>
        <span class="view-control" data-control="from-date">
          <%= I18n.l experience.start_time, format: :long_profile %>
        </span>
        -
        <span class="view-control" data-control="to-date" data-type="manual">
          <%= I18n.l experience.end_time, format: :long_profile %>
        </span>
      </p>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control content-text"><%= experience.project_detail %></div>
    </div>
  </div>
</div>
