<div id="info_certificate_<%= certificate.id %>" class="sortable content-section">
  <% if can? :modify, certificate %>
    <span class="form-btn-edit">
      <%= link_to certificate, method: :delete, data: {confirm: I18n.t("certificate.confirm")},
        class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
      <%= link_to edit_certificate_path(certificate), class: "btn btn-sm btn-default", remote: true do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </span>
  <% end %>
  <div>
    <div class="view-field">
      <h3 class="view-control"><strong><%= certificate.name %></strong></h3>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control"><%= t "certificate.major" %>: <%= certificate.majors %></div>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control"><%= t "certificate.organization" %>: <%= certificate.organization %></div>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control"><%= t "certificate.classification" %>: <%= certificate.classification %></div>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control"><%= t "certificate.received" %>:
        <%= I18n.l certificate.received_time, format: :long_profile %></div>
    </div>
  </div>
</div>
